[attr]lfs filter=lfs diff=lfs merge=lfs -text

# Unreal assets
*.uasset lfs
*.umap lfs

# Save imported assets sources here
/RawContent/**/* lfs

# Fallback for common file types
*.fbx lfs
*.png lfs
*.jpg lfs
*.jpeg lfs
*.ico lfs
*.mp3 lfs
